@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;800;900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  overflow: hidden;
}

.range {
  position: relative;
}
.range::before,
.range::after {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  font-size: 0.7rem;
}
.range::before {
  content: '0%';
  top: -1.5rem;
  left: 0;
}
.range::after {
  content: '100%';
  top: -1.5rem;
  right: 0;
}

@media only screen and (min-width: 1024px) {
  .highlights {
    justify-content: normal;
  }
}
