@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;800;900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  overflow: hidden;
}

.range {
  position: relative;
}
.range::before,
.range::after {
  position: absolute;
  font-size: 2rem;
  transform: translateX(-50%);
  font-size: 0.7rem;
  transform: translateX(0%);
}
.range::before {
  content: '0%';
  top: -1.5rem;
  left: 0;
}
.range::after {
  content: '100%';
  top: -1.5rem;
  right: 0;
}

.indicator {
  position: relative;
  height: 0;
}
.indicator::after {
  content: '50%';
  top: 1.5rem;
  font-size: 11.2px;
}

@media only screen and (min-width: 1024px) {
  .highlights {
    justify-content: normal;
  }
}

.sun {
  animation: rotatingSun infinite 1s;
}

@keyframes rotatingSun {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
